In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('reduced.csv')
df.head()

,SEX,AGE,SYSBP,DIABP,BPMEDS,CURSMOKE,CIGPDAY,EDUC,TOTCHOL,BMI,...,TIMESTRK,TIMECVD,TIMEHYP,ANGINA,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN
0,1,39,106.0,70.0,0.0,0,0.0,4.0,195.0,26.97,...,8766,6438,8766,0,1,1,1,0,1,0
1,2,46,121.0,81.0,0.0,0,0.0,2.0,250.0,28.73,...,8766,8766,8766,0,0,0,0,0,0,0
2,2,52,105.0,69.5,0.0,0,0.0,2.0,260.0,29.43,...,8766,8766,8766,0,0,0,0,0,0,0
3,2,58,108.0,66.0,0.0,0,0.0,2.0,237.0,28.50,...,8766,8766,8766,0,0,0,0,0,0,0
4,1,48,127.5,80.0,0.0,1,20.0,1.0,245.0,25.34,...,8766,8766,8766,0,0,0,0,0,0,0

In [20]:
target = df[["ANGINA"]]
# target_names = ["negative", "positive"]

In [21]:
data = df.drop(["ANGINA"], axis=1)
feature_names = data.columns
data.head()

,SEX,AGE,SYSBP,DIABP,BPMEDS,CURSMOKE,CIGPDAY,EDUC,TOTCHOL,BMI,...,TIMECHD,TIMESTRK,TIMECVD,TIMEHYP,HOSPMI,MI_FCHD,ANYCHD,STROKE,CVD,HYPERTEN
0,1,39,106.0,70.0,0.0,0,0.0,4.0,195.0,26.97,...,6438,8766,6438,8766,1,1,1,0,1,0
1,2,46,121.0,81.0,0.0,0,0.0,2.0,250.0,28.73,...,8766,8766,8766,8766,0,0,0,0,0,0
2,2,52,105.0,69.5,0.0,0,0.0,2.0,260.0,29.43,...,8766,8766,8766,8766,0,0,0,0,0,0
3,2,58,108.0,66.0,0.0,0,0.0,2.0,237.0,28.50,...,8766,8766,8766,8766,0,0,0,0,0,0
4,1,48,127.5,80.0,0.0,1,20.0,1.0,245.0,25.34,...,8766,8766,8766,8766,0,0,0,0,0,0

In [22]:
print(data.shape, target.shape)

(9310, 31) (9310, 1)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

### decision tree

In [6]:
from sklearn import tree

In [7]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9935567010309279

In [8]:
sorted(zip(clf.feature_importances_, feature_names), reverse=True)[:10]

[(0.5265847972830952, 'ANYCHD'),
 (0.2456498970884423, 'TIMEAP'),
 (0.15782665910052943, 'TIMESTRK'),
 (0.017073255521983605, 'TIMEMI'),
 (0.015014763769124853, 'CVD'),
 (0.011082174579591228, 'TIMEMIFC'),
 (0.004632844480476502, 'PREVAP'),
 (0.004503834351012631, 'TIMECVD'),
 (0.0021938349918042776, 'BMI'),
 (0.0019762628387192363, 'GLUCOSE')]

In [14]:
predictions = clf.predict(X_test)

In [15]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test.values.ravel()}).reset_index(drop=True)
results.replace({0:'negative',1:'positive'}).head(10)

  Prediction    Actual
0   negative  negative
1   negative  negative
2   negative  negative
3   negative  negative
4   negative  negative
5   positive  positive
6   negative  negative
7   negative  negative
8   negative  negative
9   negative  negative

### random forest

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [10]:
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train.values.ravel())
rf.score(X_test, y_test)

0.9948453608247423

In [11]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)[:10]

[(0.23764810238860912, 'ANYCHD'),
 (0.18520206573610426, 'TIMEAP'),
 (0.07799672271195238, 'TIMECHD'),
 (0.0700517798315594, 'TIMESTRK'),
 (0.06692858725467438, 'PREVAP'),
 (0.04718748489808513, 'TIMEMI'),
 (0.043248663186218714, 'TIMECVD'),
 (0.04304332827691423, 'TIMEMIFC'),
 (0.039832284140481324, 'PREVCHD'),
 (0.02930335750105056, 'CVD')]

In [12]:
predictions = rf.predict(X_test)

In [13]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test.values.ravel()}).reset_index(drop=True)
results.replace({0:'negative',1:'positive'}).head(10)

  Prediction    Actual
0   negative  negative
1   negative  negative
2   negative  negative
3   negative  negative
4   negative  negative
5   positive  positive
6   negative  negative
7   negative  negative
8   negative  negative
9   negative  negative